{ +headerStart }
<!DOCTYPE HTML>
<html>
<head>
    <title>
        yudo erp
    </title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
{ +css }
    <!--css-->
    <link rel="stylesheet" href="/css/mui.min.css?v=1012">
    <link rel="stylesheet" href="/css/yudo-ui.css?v=2016">
    <link rel="stylesheet" href="/css/mui.picker.min.css?v=1000">
    <link rel="stylesheet" href="/css/animate.min.css?v=1003">
{ +js }
    <!--jquery vue-->
    <script type="text/javascript" src="/third_party/jquery-2.1.4/jquery.js"></script>
    <script>var jq = $.noConflict(); var title = 'YUDO Mobile Erp';</script>
    <script src="/js/vue.js"></script>
<!--    <script src="/js/md5.js?v=1001"></script>-->
    <script src="/js/server.js?v=1010"></script>
    <!--mui echarts multi fastclick-->
    <script src="/js/mui.min.js?v=1001"></script>
    <script src="/js/lang.min.js?v=1004"></script>
    <script src="/js/multiHttp.js?v=1015"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/mui.previewimage.js?v=201804261256"></script>
    <script src="/js/mui.zoom.js?v=201804231454"></script>
    <script src="/js/mui.picker.min.js?v=1002"></script>
    <script type="text/javascript" src="/js/fastclick.js"></script>

{ +headerEnd }
    <script type="text/javascript" src="/js/JLAMP.min.js"></script>
    <script type="text/javascript" src="/js/JLAMP.common.min.js"></script>
    <script type="text/javascript" src="/js/JLAMP.lang.min.js"></script>
</head>
<body>

{ +footer }
</body>
</html>

{ +MenuVersion}200017
{ +WEI_0100Version}200015
{ +WEI_0200Version}200015
{ +WEI_1000Version}200011
{ +WEI_1300Version}200011
{ +WEI_1400Version}200011
{ +WEI_1410Version}200011
{ +WEI_1420Version}200011
{ +WEI_2000Version}200011
{ +WEI_2100Version}200033
{ +WEI_2200Version}200016
{ +WEI_2300Version}200011
{ +WEI_2400Version}200011
{ +WEI_2500Version}200011