{ #header }

<div id="slide_panel" style="padding-top:50px;">
    <div>
    <table>
        <thead>
            <tr>
                <th>»’∆⁄</th>
                <td>
                    <input type="text" id="base_date" class="search_input text-center" readonly>
                </td>
            </tr>
            <tr>
                <th>”Ô—‘</th>
                <td>
                    <input id="sample" jlamp-autobinding bizcomponentid="L_SYS008">
                    <!--<select id="lang_code" name="lang_code" style="width:100%;">
                        <option value="KOR">Korea</option>
                        <option value="ENG">English</option>
                        <option value="JPN">Japanese</option>
                    </select>-->
                </td>
            </tr>
        </thead>
    </table>
    </div>
    <div>
        <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>
</div>

{ #footer }