{ #header }
<!-- nav -->

<div id="slide_panel" style="padding-top:50px;">

    <!-- contents -->
    <div class="sub_contents">

        <!-- 검색 -->
        <div class="search_area">
            <table class="search_table">
                <colgroup>
                    <col width="70px;">
                </colgroup>
                <tr>
                    <th>기준일</th>
                    <td colspan="3">
                        <input type="text" id="base_date" class="search_input text-center" readonly>
                    </td>
                </tr>
                <tr>
                    <th>언어</th>
                    <td>
                        <!-- <input id="lang_code" name="lang_code"
                               jlamp-autobinding
                               bizcomponentid="L_SYS008"
                               jlamp-ab-bgcolor="#fffee5;"/> -->
                        <select id="lang_code" name="lang_code" style="width: 100%">
                            <option value="KOR">Korean</option>
                            <option value="ENG">English</option>
                            <option value="JPN">Japanese</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="search_bn_area">
                <input class="bn_normal_100" id="btn_search" type="button" value="검색">
            </div>
        </div>

        <!-- 타이틀 및 검색  mt_10-->
        <div class="sub_title">영업집계표(일)</div>
        <div class="table-responsive" style="overflow-x: auto; height:200px;">
            <table class="basic_table">
                <tr>
                    <th colspan="2">구분</th>
                    <th>금일(수주)</th>
                    <th>금일(출고)</th>
                    <th>금일(계산서)</th>
                    <th>금일(입금)</th>
                    <th>금일(생산출고)</th>
                </tr>
                </thead>
                <tbody id="list_html">
                </tbody>
            </table>
        </div>

        <div class="sub_title mt_10">영업집계표(일) 차트</div>
        <div id="chart">
            <img style="margin-top:40px;" src="/image/no_chart.png">
        </div>
    </div>
</div>

{ #footer }