<!-- 탭 -->
<div class="gnb_tab_contents">
	<div id="tab_menu" class="variable slider">
		<div appid="home" fixed>
			<div onclick="menuOpen('home')" style="width:100%;" class="gnb_tab_txt gnb_tab_txt_collapse">HOME</div>
		</div>
	</div>
	<div class="dropdown gnb_tab_setting_icon">
		<button type="button" data-toggle="dropdown" class="btn gnb_btn_transparent"><span class="glyphicon glyphicon-cog"></span></button>
		<ul id="tab_ctrl" class="dropdown-menu pull-right">
			<li tclappid="home"><a href="javascript:menuOpen('home')">HOME</a></li>
		</ul>
	</div>
</div>