<!DOCTYPE HTML>
<html>
<head>
    <title>
        yudo erp
    </title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--css-->
    <link rel="stylesheet" href="/css/yudo-ui.css?v=1050">
    <link rel="stylesheet" href="/css/mui.min.css?v=1008">
    <link rel="stylesheet" href="/css/mui.picker.min.css">
    <!--jquery vue-->
    <script type="text/javascript" src="/third_party/jquery-2.1.4/jquery.js"></script>
    <script>var jq = $.noConflict();</script>
    <script src="/js/vue.js"></script>
    <!--mui echarts multi fastclick-->
    <script src="/js/mui.min.js?v=1001"></script>
    <script src="/js/multiHttp.js?v=1001"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/lang.min.js?v=1001"></script>
    <script src="/js/mui.previewimage.js?v=201804261256"></script>
    <script src="/js/mui.zoom.js?v=201804231454"></script>
    <script src="/js/mui.picker.min.js?v=1001"></script>
    <script type="text/javascript" src="/js/fastclick.js"></script>
    <!--jlamp-->
    <script type="text/javascript" src="/js/JLAMP.polyfill.min.js"></script>
    <script type="text/javascript" src="/js/JLAMP.min.js"></script>
    <script type="text/javascript" src="/js/JLAMP.common.min.js"></script>
    <script type="text/javascript" src="/js/JLAMP.menu.min.js"></script>
    <script type="text/javascript" src="/js/JLAMP.autobinding.min.js"></script>
    <script type="text/javascript" src="/js/JLAMP.modal.min.js"></script>
    <script type="text/javascript" src="/js/JLAMP.lang.min.js"></script>
    <script type="text/javascript" src="/js/session.js"></script>
    <script type="text/javascript" src="/js/version.js?v=20180920001"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/GNB.js"></script>

</head>
<body>
    <div class="yudo-content" id="leon">
        <div class="download-script" v-if="view.downLoadScript"></div>
        <div class="yudo-content">
            <div class="header-ios">
                <div class="header-body">
                    <div class="header-left-btn" @click="closeChangePassWd()">
                        <div class="left-icon icon-back-2"></div>
                        <div class="left-text"></div>
                    </div>
                    <div class="header-center-btn" ><img id="imgTopLogo" src="/image/login_logo.png" border="0" alt="top logo" style="width: 120px;margin-top: -2px" class="topLogo"></div>
                </div>
            </div>
            <div class="center-ios">
                <div style="height: 200px;width: 100%;padding: 70px 30px 0 30px">
                    <div class="input-tr-yuan">
                        <div class="input-tr-body" style="width: 100%">
                            <div class="input-border-yuan">
                                <input type="password" v-model="input.oldPassWd"  v-bind:placeholder="lang.oldPassWd"  class="yudu-input noborder" />
                            </div>
                        </div>
                    </div>
                    <div class="input-tr-yuan">
                        <div class="input-tr-body" style="width: 100%">
                            <div class="input-border-yuan">
                                <input type="password" v-model="input.newPassWd"  v-bind:placeholder="lang.newPassWd"  class="yudu-input noborder" />
                            </div>
                        </div>
                    </div>
                    <div class="input-tr-yuan">
                        <div class="input-tr-body" style="width: 100%">
                            <div class="input-border-yuan">
                                <input type="password" v-model="input.newPassWd2" v-bind:placeholder="lang.newPassWd2"  class="yudu-input noborder" />
                            </div>
                        </div>
                    </div>
                    <div class="input-tr">
                        <div class="input-tr-body" style="width: 100%">
                            <button class="yudo-btn" @click="savePassWd()" j-word-label="W2007072616270984075">保存</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
<script src="/js/Menu/ChangePassWd.js?v=1002"></script>
</html>